/* font-family: 'Josefin Sans', sans-serif; */

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-image: url(/img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header{
     /* background-image: linear-gradient(180deg, white 0, #bac3ff 50%, #6a8bff 100%);  */
    /* background-color:   #7D9AFF; */
    background-color: transparent;
    padding: -1em 0 ; 
}

header div{
    padding: 10px;
}

header div img{
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
}

header h1{
    /* color:  #5e24c3; */
    color: black;
    padding-left: 20px;
    font-size: -2.5em;
    display: inline-block;
    position: relative;
    bottom: 45px;
    /* text-shadow: 2px 2px 5px black; */
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
}

nav{
    /* background-color:   #6a8bff; */
    background-color: transparent;
    margin-bottom: 2em;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    width: 16.3%;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
    background-color: black;
    margin-bottom: 1em;
    opacity: 80%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

nav ul li .activo{
    background-color:   #168c8c ;
    opacity: 90%;
    border: 1px solid black;
}

nav ul li a:hover{
    background-color:   #168c8c ;
    opacity: 80%;
}

footer{
    background-color: #ccc;
    clear: both;
    color: #333;
    padding: 3em 0;
    margin-top: 2em;
    text-align: center;
    box-shadow: inset 0 0 10px 1.5px gray;
}

.holder{
    max-width: 960px;
    margin: 0 auto;
}

.holder img {
    opacity: 90%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
}

h2{
    color:  black ;
    filter: drop-shadow(0 2px 5px #168c8c);
    font-weight: 600;
    margin: 0 0 1em;
}

.left{
    float: left;
}

.right{
    float: right;
}

/*--------------------------------------------------------------------------------------------------------*/

/* Inicio Home */
.home_img{
    margin-bottom: 1.5em;
}

.columnas{
    overflow: hidden;
}

.bienvenidos, .comentarios{
    box-sizing: border-box;
}

.bienvenidos{
    width: 75%;
    padding-right: 2em;
}

.comentarios{
    width: 25%;
}

.comentario{
    padding: 1em;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
    margin-bottom: 1em;   
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.comentario .cita{
    font-weight: bold;
    text-align: center;
    font-style: italic;
    font-size: 1.4em;
    display: block;
}


.comentario .autor{
    font-size: 0.7em;
    text-align: center;
    margin: 1em 0;
    display: block;
}
/* Fin Home */

/*--------------------------------------------------------------------------------------------------------*/

/* Inicio Nosotros */
.historia {
    width: 75%;
    padding-right: 2em;
}

.historia p{
    font-size: 0.8em;
}

.empleados{
    overflow: hidden;
}

.empleado{
    width: 18%;
    padding: 1em;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
    margin-bottom: 1em;   
    float: left;
    margin-left: 2.25%;
    box-sizing: border-box;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.empleado {
    text-align: center;
}

.empleado img{
    border-radius: 50%;
    margin: 0.8em 0 1em;
    max-width: 70%;
}

.empleado h5, .empleado h6{
    text-align: center;
    font-weight: normal;
    margin: 0;
}

.empleado h5{
    font-size: 0.9em;
}

.empleado h6{
    font-size: 0.8em;
    font-style: italic;
}

.empleado p{
    font-size: 0.7em;
    margin: 0 1em 1em;
}

.empleado:first-child{
    margin-left: 0;
}
/* Fin Nosotros */

/*--------------------------------------------------------------------------------------------------------*/

/* Inicio Servicios */
.servicio{
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 1em 0;
    padding: 1em;
    overflow: hidden;
}

.servicio .info{
    width: 75%;
}

.servicio .info h4{
    font-size: 1.2em;
    font-style: italic;
    font-weight: 500;
    margin:  0 0 1em;
    padding-bottom: 0.5em;
}

.servicio .info p{
    font-size: 0.8em;
    line-height: 1.2em;
}

.servicio img{
    width: 20%;
}

.servicios:nth-child(even){ /*par*/
    float: right;
    margin: 0 0 0 1em;
}

.servicios:nth-child(even) img{
    float: right;
    margin: 0 0 0 1em;
}

.servicio:nth-child(even) .info{
    float: left;
}

.servicio:nth-child(odd) img{ /*impar*/
    float: left;
    margin: 0 1em 0 0;
}

.servicio:nth-child(odd) .info{
    float: right;
}
/* Fin Servicios */

/*--------------------------------------------------------------------------------------------------------*/

/* Inicio Galeria */
.galeria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
}

.foto{
    position: relative;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
}

.imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulo_imagen{
    position: absolute;
    bottom: 0;
    margin: 0;
    color: white;
    background: linear-gradient(rgba(255,255,255,0),rgb(0, 0, 0));
    width: 100%;
    text-align: center;
}

.foto:nth-child(5){
    grid-column-start:  span 2;
}

.foto:nth-child(9){
    grid-row-start: span 3;
}

.foto:nth-child(10){
    grid-column-start:  span 2;
}

.foto:nth-child(11){
    grid-column-start:  span 2;
    grid-row-start: span 2;
}

.galeria .foto img{
    opacity: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}
/* Fin Galeria */

/*--------------------------------------------------------------------------------------------------------*/

/* Inicio Contacto */
.columna{
    width: 50%;
    box-sizing: border-box;
    padding: 0.6em;
}

.columna.left{
    border-right: 1px solid black;
}

.columna.right p{
    font-size: 0.9em;
}

.columna.right ul li{
    font-size: 0.8em;
}

.form input, .form textarea {
    border: 1px solid black;
    padding: 0.4em 0.6em;
    font-size: 0.8em;
    width: 70%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color:  #84dddd;
}

.form button{
    text-decoration: none;
    padding: 10px;
    font-size: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    color: white;
    background-color: #168c8c ;
    border: 1px solid  #e3f7f7;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: auto;
    cursor: pointer;
  }

  .form button:hover{
    background-color:  #e3f7f7;
    border: 1px solid  #84dddd;
    color: black;
  }

  .form textarea{
      height: 10em;
      resize: none;
  }

  .form.acciones{
    text-align: center;
  }
/* Fin Contacto */ 

/*--------------------------------------------------------------------------------------------------------*/