body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(122, 158, 218);
}

img{
    display:block;
    margin:auto;
    padding: 5px;
    background-color: rgb(52, 50, 110);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

h1{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(52, 50, 110);
    color: whitesmoke;
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px black, -2px -2px gray;
    padding: 10px;
}


h2{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color:whitesmoke;
    margin-right: 800px;
    color:rgb(52, 50, 110);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding-left: 10px;
    text-shadow: -1px -1px black;
}

h3{
    color: whitesmoke;
    margin-left: 500px;
    margin-right: 500px;
    padding: 5px;
    background-color: rgb(52, 50, 110);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-shadow: 1.5px 1.5px black, -1.5px -1.5px gray;
}

h4{
    color: whitesmoke;
    font-size: 20px;
    text-shadow: 1px 1px black;
}

.item0{
    text-align: center;
    color: whitesmoke;
    border: 5px solid rgb(52, 50, 110);
    margin-left: 500px;
    margin-right: 500px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    text-shadow: 1px 1px black;
}

.item1{
    color: whitesmoke;
}
