.contenedor{
    border:1px solid black;
    display: flex;
    background-color: whitesmoke;
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 500px;
	align-items: center;
    flex-direction: row-reverse;
}

.item{
    border:1px solid black;
    color: white;
    width: 165px;
	height: 167px;
	font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rojo{
    background-color: red;
}

#azul{
    background-color: blue;
}

#verde{
    background-color: green;
}