<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body>
    <body>
      {{!-- <h1>{{title}}</h1> --}}
      <img src="images/pokemon-logo.png" alt="PokeLogo" width="350px" />
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">{{title}}</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="/pokedex"
                >Pokédex</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/personajes">Personajes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/historia">Historia</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="images/pokedex/Squirtle.png" class="card-img-top" alt="Squirtle" width="100px"/>
            <div class="card-body">
              <h5 class="card-title">Squirtle</h5>
              <p class="card-text">Squirtle es un Pokémon de tipo agua introducido en la primera generación. Es uno de los Pokémon iniciales que pueden elegir los entrenadores que empiezan su aventura en la región Kanto, junto a Bulbasaur y Charmander, excepto en Pokémon Amarillo.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="images/pokedex/Charmander.png" class="card-img-top" alt="Charmander" width="100px"/>
            <div class="card-body">
              <h5 class="card-title">Charmander</h5>
              <p class="card-text">Charmander es un Pokémon de tipo fuego introducido en la primera generación. Es uno de los Pokémon iniciales que pueden elegir los entrenadores que empiezan su aventura en la región Kanto, junto a Bulbasaur y Squirtle, excepto en Pokémon Amarillo y Pokémon: Let's Go, Pikachu! y Pokémon: Let's Go, Eevee!</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="images/pokedex/Bulbasaur.png" class="card-img-top" alt="Bulbasaur" width="100px"/>
            <div class="card-body">
              <h5 class="card-title">Bulbasaur</h5>
              <p class="card-text">Bulbasaur es un Pokémon de tipo planta/veneno introducido en la primera generación. Es uno de los Pokémon iniciales que pueden elegir los entrenadores que empiezan su aventura en la región Kanto, junto a Squirtle y Charmander (excepto en Pokémon Amarillo). Destaca por ser el primer Pokémon de la Pokédex Nacional y la en la Pokédex de Kanto.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="images/pokedex/Pikachu.png" class="card-img-top" alt="Pikachu" width="100px"/>
            <div class="card-body">
              <h5 class="card-title">Pikachu</h5>
              <p class="card-text">Pikachu es un Pokémon de tipo eléctrico introducido en la primera generación. Es el Pokémon más conocido de la historia, mayormente por ser el acompañante del protagonista del anime, Ash Ketchum y la mascota representante de la franquicia Pokémon. Es el Pokémon inicial de Pokémon Amarillo y Pokémon: Let's Go Pikachu! A partir de la segunda generación, es la forma evolucionada de Pichu.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="images/pokedex/Pidgey.png" class="card-img-top" alt="Pidgey" width="100px"/>
            <div class="card-body">
              <h5 class="card-title">Pidgey</h5>
              <p class="card-text">Pidgey es un Pokémon de tipo normal/volador introducido en la primera generación.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="images/pokedex/Psyduck.png" class="card-img-top" alt="Psyduck" />
            <div class="card-body">
              <h5 class="card-title">Psyduck</h5>
              <p class="card-text">Psyduck es un Pokémon de tipo agua introducido en la primera generación.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="images/pokedex/Abra.png" class="card-img-top" alt="Abra" width="100px"/>
            <div class="card-body">
              <h5 class="card-title">Abra</h5>
              <p class="card-text">Abra es un Pokémon de tipo psíquico introducido en la primera generación.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="images/pokedex/Scyther.png" class="card-img-top" alt="Scyther"/>
            <div class="card-body">
              <h5 class="card-title">Scyther</h5>
              <p class="card-text">Scyther es un Pokémon de tipo bicho/volador introducido en la primera generación.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="images/pokedex/Onix.png" class="card-img-top" alt="Onix"/>
            <div class="card-body">
              <h5 class="card-title">Onix</h5>
              <p class="card-text">Onix es un Pokémon de tipo roca/tierra introducido en la primera generación.</p>
            </div>
          </div>
        </div>
      </div>
    </body>
  </body>
</html>