<html>
  <head>
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="holder">
        <img
          src="/images/logo/logo_large.png"
          width="100"
          alt="Intech 2.0 Systems"
        />
        <h1>Intech 2.0 Systems</h1>
      </div>
    </header>
    {{{body}}}
    <footer>
      <p>Diseñado por Matias Emanuel Monti - &copy;2022</p>
    </footer>
  </body>
</html>