<div class="contenedor-nav">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <img src="/images/logo/logo.svg" alt="logo" width="50" height="34" class="d-inline-block align-text-top" />
            <a class="navbar-brand" href="/admin/userHome">
                Home
            </a>
            <a class="navbar-brand" href="/admin/novedades">
                Novedades
            </a>
            <a class="navbar-brand" href="/admin/usuarios">
                Usuarios
            </a>
        </div>
    </nav>
</div>

<div class="mantenimiento">
    <img src="/images/Sitio-en_Construccion.png" alt="">
</div>