body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;   
}

.contenedor{
    border:1px solid black;
    display: flex;
    background-color: whitesmoke;
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 500px;
	align-items: center;
}

.item{
    border:1px solid black;
    color: white;
    width: 165px;
	height: 167px;
	font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#rojo{
    background-color: red;
}

#azul{
    background-color: blue;
}

#verde{
    background-color: green;
}